.gameBox-container {
  width: 90%;
  height: 130px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #2A2D33;
}

.gameImage-container {
  display: flex;
  align-items: center;
}

.platform-button {
  width: 50px;
  height: 36.5px;
  font-weight: 500;
  background-color: #1565c0;
  border: 1px solid #0d47a1;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.platform-button:hover {
  background-color: #0d47a1;
}

.platform-button:active {
  background-color: rgba(13, 71, 161, 0.2);
}

.status-button {
  width: 100px;
  height: 36.5px;
  font-weight: 600;
  background-color: #2e7d32;
  border: 1px solid #1b5e20;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.status-button:hover {
  background-color: #1b5e20;
}

.status-button:active {
  background-color: rgba(13, 71, 161, 0.2);
}

.genre-text {
  color: rgba(255, 255, 255, 0.8);
}